# ---------------
# Folders
# ---------------
.idea
build
target

# ---------------
# Project Files
# ---------------

*.iml

# ---------------
# Other
# ---------------

*.settings
*.project
*.classpath
